body {
  margin: 0;
  padding: 0;
}

main {
  margin: 3vh;
}

header,
footer {
  background-color: grey;
  padding: 3vh;
  text-align: center;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav {
  padding-top: 2vh;
}

.information {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
