body {
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

main {
  margin: 0.8rem;
}

header,
footer {
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(36, 197, 197), rgb(55, 41, 179));
}

h1 {
  text-align: left;
  font-family: "Krona One", sans-serif;
}

#list-title,
#header-title {
  text-align: center;
}

a,
p,
li,
input[type="text"] {
  font-family: "Noto Serif", serif;
}

header h1 {
  font-size: 1.7rem;
  user-select: none;
}

main h1 {
  font-size: 1.2rem;
  text-decoration: underline;
}

form {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

form button {
  background-image: linear-gradient(45deg, rgb(26, 179, 199), rgb(26, 74, 206));
  color: black;
  cursor: pointer;
  transition: all 0.4s ease;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

form button:hover {
  color: white;
}

form input,
form button {
  padding: 0.8rem;
  font-size: 1.1rem;
  border: black;
  border-style: solid;
  border-width: 0.15rem;
}

.input-and-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form input {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

#list-container {
  display: flex;
  justify-content: center;
}

.complete-button,
.remove-button,
.important-button {
  border: black;
  border-style: solid;
  border-radius: 0.3rem;
  border-width: 0.15rem;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 0.4rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  margin-left: 2rem;
}

.complete-button:hover,
.remove-button:hover,
.important-button:hover {
  color: white;
}

.complete-button {
  background: rgb(24, 204, 24);
}

.remove-button {
  background: rgb(255, 43, 43);
}

.important-button {
  background: rgb(221, 199, 0);
}

.fa-plus-circle,
.fa-check-circle,
.fa-times-circle,
.fa-exclamation-circle {
  pointer-events: none;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav {
  padding-top: 1.1rem;
}

.information {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.completed-item {
  text-decoration: line-through;
  text-decoration-color: rgb(24, 204, 24);
  opacity: 0.7;
}

.important-item {
  text-decoration: underline;
  font-weight: bold;
}

#kontakta-oss-1 {
  width: 15rem;
}

#om-oss-1 {
  width: 15rem;
}

#om-oss-2 {
  width: 15rem;
}

#logo-image {
  width: 7rem;
  user-select: none;
}

.select {
  margin: 1rem;
}

select {
  cursor: pointer;
  width: 10rem;
  font-size: 1rem;
  font-family: "Noto Serif", serif;
  border-color: black;
  border-width: 0.1rem;
}

@media (max-width: 1000px) {
  header h1 {
    font-size: 1.5rem;
    user-select: none;
  }

  .select {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  [list-form] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input,
  form button {
    padding: 0.5rem;
  }
}
